@model Job.Models.JobModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>JobModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="jobRole" class="control-label"></label>
                <input asp-for="jobRole" class="form-control" />
                <span asp-validation-for="jobRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="package" class="control-label"></label>
                <input asp-for="package" class="form-control" />
                <span asp-validation-for="package" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="company" class="control-label"></label>
                <input asp-for="company" class="form-control" />
                <span asp-validation-for="company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="location" class="control-label"></label>
                <input asp-for="location" class="form-control" />
                <span asp-validation-for="location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="experience" class="control-label"></label>
                <input asp-for="experience" class="form-control" />
                <span asp-validation-for="experience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
